*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    overflow-x: hidden;
}

.navbar{
    background-color:purple;
    margin-bottom: 30px;
    text-decoration: none;
}
.navbar ul{
    overflow: auto;
    text-decoration: none;
   
}
.navbar li{
    float:left;
    list-style:none;
    padding: 3px 3px;
    margin: 13px 20px;
    text-decoration: none;
    
}
.navbar li a{
    color: #fff;
    transition: 0.5s;
}
.navbar li a:hover{
    
    color:yellow;
    
}
.navbar ul li a{
    text-decoration: none;
}

.navbar input{
    border:2px solid rgb(235, 10, 10);
    border-radius: 4px;
    padding: 3px 17px;
    width:129px;
}

.name h1{
    margin-left: 300px;
    color:rgb(86, 2, 86);
    font-size: 50px;
    font-style: normal;
    text-decoration: none;
    }
main{
    background-image: url(photos/palace.webp);
    background-size:cover;
    background-repeat: no-repeat;
    height: 100vh;
    
}
footer{
    /* position: absolute;
    bottom: 0;
    left: 0;
    right: 0; */
    background: #111;
    height: auto;
    width: 100vw;
    padding-top: 40px;
    color: #fff;
   
}
.fottercontainer{
    width: 100%;
    /* padding: 30px 30px 20px; */
}
.socailicons{
    display: flex;
    justify-content: center;
}
.socailicons a{
    text-decoration: none;
    padding: 10px;
    background-color: white;
    margin: 10px;
    border-radius: 50%;
}
.socailicons a i{
    font-size: 2em;
    color: black;
    opacity: 0.9;
}
.socailicons a:hover{
    background-color: #111;
    transition: 0.5s;
}
.socailicons a:hover i{
    color: white;
    transition: 0.5s;
}
.fotternav{
    margin: 30px 0;
}
.fotternav ul{
    display: flex;
    justify-content: center;
    list-style: none;
}
.fotternav ul li a{
   color: white;
    margin: 20px;
    text-decoration: none;
    font-size: 1.3em;
    opacity: 0.7;
    transition: 0.5s;
}
.fotternav ul li a:hover{
    opacity: 1;

}
.fotterbottom{
    background-color: #000;
    padding: 20px;
    text-align: center;

}
.fotterbottom p{
    color: white;
}
@media (max-width:700px) {
    .fotternav ul{
        flex-direction: column;
    }
    .fotternav ul li{
        width: 100%;
        text-align: center;
        margin: 10px;
    }
    
}

















